* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: "Roboto", sans-serif;
}
.container {
    width: 1140px;
    margin: 0 auto;
    position: relative;
}

.promo {
    height: 800px;
    background: url("../img/bg/main_bg.jpg") center center/cover no-repeat;
    padding: 40px 0 55px 0;
}

.logo .logo__img {
    display: block;
    margin: 0 auto;
}

.logo .logo__text {
    font-size: 15px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
}

h1 {
    margin-top: 32px;
}

.title {
    color: #F9BF3B;
    font-style: normal;
    font-weight: 900;
    font-size: 41px;
    text-transform: uppercase;
    text-align: center;
}

.simple .title__big {
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    margin: 20px 0 20px 0;
}

.promo .promo__text {
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    text-align: center;
    line-height: 28px;
    color: #FFFFFF;
    margin: 23px 0 0 0;
    padding: 0 13px 0 13px;
}

.promo .promo__text span {
    text-transform: uppercase;
    font-weight: 700;
    color: #F9BF3B;
}

.promo .promo__btn, .gift .gift__btn{
    display: block;
    margin: 50px auto;
    background: linear-gradient(to top, #2798B9 0%, #3AB6DA 100%);
    min-width: 313px;
    min-height: 72px;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
    border: 4px solid rgba(0, 0, 0, 0.23);
    color: #FFFFFF;
    text-transform: uppercase;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
    font-size: 21px;
    font-weight: 400;
    cursor: pointer;
    line-height: 24px;
    padding: 14px 23px;
}

.more .more__text {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;


}

.more .more__img {
    display: block;
    margin: 4px auto;
    cursor: pointer;
}

.waiting {
    background: #EFEFEF;
    min-height: 607px;
    padding: 85px 0 75px 0;
}

.waiting .waiting__header, .finish .finish__header {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #252525;
}

.finish .finish__header {
    color: #FFFFFF;
}

.waiting .waiting__divider, .finish .finish__divider {
    width: 220px;
    height: 4px;
    background: #F9BF3B;
    margin: 0 auto;
    margin-top: 18px;
}

.waiting .waiting__subheader {
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    color: #4A4A4A;
    text-align: center;
    margin-top: 17px;
}

.waiting .waiting__wrapper {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.waiting .waiting__wrapper .waiting__item {
    width: 339px;
}

.waiting .waiting__wrapper .waiting__item .waiting__img {
    width: 100%;
}

.waiting .waiting__wrapper .waiting__item .waiting__description {
    margin-top: 26px;
    text-align: center;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #4A4A4A;
}

.optimization {
    min-height: 550px;
    padding: 102px 0 107px 0;
}

.optimization .optimization__header {
    margin-left: 391px;
    text-transform: uppercase;
    color: #299CBD;
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
/ / Подправить_до_30
}

.optimization .optimization__text {
    margin: 25px 0 0 389px;
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    color: #4A4A4A;
}

.optimization .optimization__text span {
    font-weight: 700;
}

.optimization .optimization__img {
    position: absolute;
    top: -54px;
    left: -240px;
    z-index: -1;
}

.finish {
    background: url("/img/bg/second_bg.jpg") center center/cover no-repeat;
    min-height: 447px;
    padding: 86px 0 68px 0;
}

.finish .finish__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 41px;
}

.finish .finish__wrapper .finish__item {
    width: 204px;
}

.finish .finish__wrapper .finish__item .finish__round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 115px;
    height: 115px;
    background: #B4E2FF;
    border-radius: 100%;
    margin: 0 auto;
}

.finish .finish__wrapper .finish__item .finish__description {
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #EFEFEF;
    margin-top: 25px;
}

.gift {
    min-height: 631px;
    padding: 68px;
    background: #EFEFEF;
}

.gift .gift__icon {
    display: block;
    margin: 0 auto;

}

.gift .gift__description {
    text-align: center;
    color: #252525;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    margin-top: 45px;

}

.firstWeb {
    min-height: 512px;
    padding: 88px 0 53px 0;
}

.firstWeb .firstWeb__icon {
    display: block;
    margin: 0 auto;
}

.firstWeb .firstWeb__header {
    color: #252525;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    margin-top: 36px;
}

.firstWeb .firstWeb__time {
    text-align: center;
    text-transform: uppercase;
    color: #299CBD;
    margin-top: 30px;
    font-weight: 900;
    font-size: 36px;
}

.firstWeb .firstWeb__description {
    text-align: center;
    color: #4A4A4A;
    font-weight: 400;
    font-size: 23px;
    line-height: 20px;
    margin-top: 25px;
}

.contacts {
    min-height: 166px;
    background: #1A1A1A;
    padding: 55px 0 68px 0;
}

.contacts .contacts__list {
    text-align: center;
}

.contacts .contacts__list .contacts__items {
    list-style: none;
    display: inline;
    color: #888888;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
}

.contacts .contacts__number {
    color: #888888;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
}
.contacts .contacts__list .contacts__items .contacts__links {
    color: #888888;
}