@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap')

*
  font-family: "Roboto", sans-serif

header
  position: relative
  height: 50px

nav
  background: #212121
  position: fixed
  width: 100%
  z-index: 2

.menu
  display: flex
  justify-content: space-between
  padding: 13px 80px
  margin: 0
  list-style: none

  .menu__link
    color: #ffffff
    font-weight: 300
    font-size: 15px
    text-decoration: none

  .menu__item
    border-right: 2px dotted black
    padding-right: 28px

header .subheader
  margin-top: 50px
  position: absolute
  height: 84px
  background: rgba(0, 0, 0, 0.6)
  width: 100%
  z-index: 1

.subheader
  .subheader__logo
    display: block
    max-width: 100%
    margin-top: 16px

  .subheader__official
    font-size: 13px
    font-weight: 100
    color: #ffffff
    opacity: .5
    margin-top: 3px

  .subheader__connection
    margin-top: 16px
    color: #FFFFFF
    font-weight: 300
    font-size: 12px
    text-align: right

  .subheader__number
    display: block
    color: #FFFFFF
    font-weight: 400
    font-size: 22px
    text-decoration: none
    text-align: right

  .subheader__btn
    font-weight: 400
    font-size: 14px
    text-transform: uppercase
    color: #FFFFFF
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21)
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%)
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12)
    border-radius: 4px
    border: none
    width: 172px
    height: 46px
    margin-top: 19px

.promo
  min-height: 800px
  background: url("../img/bg/uber_bg.png") center (center / cover) no-repeat
  padding: 150px 0 135px 0
  z-index: 1

  .promo__header
    text-transform: uppercase
    font-weight: 700
    font-size: 60px
    text-align: center
    color: #FFFFFF
    line-height: 60px
    margin-bottom: 0

  .promo__subheader
    text-transform: uppercase
    font-weight: 700
    font-size: 36px
    text-align: center
    color: #FFFFFF
    line-height: 36px
    margin-top: 10px
    margin-bottom: 0

  .promo__description
    text-align: center
    color: #FFFFFF
    font-weight: 400
    font-size: 18px
    line-height: 24px
    margin-top: 23px

  .promo__btn
    display: block
    margin: 115px auto
    width: 259px
    height: 63px
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%)
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12)
    border-radius: 4px
    border: none
    text-transform: uppercase
    color: #FFFFFF
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21)
    font-weight: 400
    font-size: 18px

/*.advantages {
/*    display: flex;
/*}

.advantages
  margin-top: 18px
  margin-bottom: 67px

  .header
    display: block
    margin: 0 auto
    padding-top: 7px
    line-height: 11px
    width: 113px
    height: 24px
    background: #000000
    color: #FFFFFF
    text-transform: uppercase
    font-weight: 400
    font-size: 11px
    text-align: center

  .subheader
    text-align: center
    margin-top: 33px
    text-transform: uppercase
    color: #222222
    font-style: normal
    font-weight: 700
    font-size: 38px

  .row
    max-width: 1064px
    margin: 0 auto

.col-md-6
  display: flex
  margin-top: 25px

.advantages
  .circle
    margin-top: 10px
    margin-right: 25px
    width: 116px
    height: 116px
    background: #1EACC7
    border-radius: 100%
    display: flex
    justify-content: center
    align-items: center

  .advantages__descr
    max-width: 371px
    font-style: normal
    font-weight: 300
    font-size: 17px
    line-height: 21px
    color: #202020
    align-items: center

    .descr__header
      color: #1EACC7
      font-weight: 400
